.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f4ecd6;
    padding: 0 8% 0 5%;
    cursor: pointer;
}

.task:hover {
    opacity: 0.7;
}

.task img:first-of-type{
   width: 30px;
   height:30px;
}

.task img:last-of-type{
    width: 20px;
   height: 20px;
}