.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f4ecd6;
    padding: 0 3%;
    opacity: 0.4;
    text-transform: capitalize;
}

.task:hover {
    opacity: 0.9;
}

.active .task {
    opacity: 1;
}

.task img{
   width: 25px;
   height:25px;
}

.task .edit-task {
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: inherit;
    margin: 10% 0;
    outline: 0;
    caret-color: white;
}