.main {
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(225, 236, 229); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 1.5em;
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

.main .body{
    flex: 1;
    height: 100vh;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.main .body .container{
    padding: 1em 0;
    
}


.main .no-items{
    background-color: rgba(71, 26, 138, 0.5);
    height: 100%;
} 

.main .no-tasks{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: 2em;
    line-height: "3em";
    color: rgba(71, 26, 138);
    vertical-align: middle; */
    text-align: "center"  
} 

.main .no-tasks p{
    font-size: 1em;
    color: rgba(71, 26, 138);

} 

.main .no-tasks button{
    display: none;
}


.main .modal-overlay{
    position: absolute;
    /* position: fixed; */
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: rgb(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal header .close-icon{
    width: 20px;
    height: 20px;
    margin: 10px 0;
    cursor: pointer;
    text-align: end;
    z-index: 2;
}

@media screen and (max-width: 650px){
    .main .no-tasks button{
        display: block;
        appearance: none;
        cursor: pointer;
        text-transform: capitalize;
        border: 2.5px solid rgb(71, 26, 138);
        font-size: 1em;
        border-radius: 5px;
        color: rgb(71, 26, 138);
    }

 }