.no-task-item {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
}


.no-task-item header{
    flex: 1;
}

.no-task-item .content{
    flex: 4;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
 
.no-task-item .content > img{
    max-width: 50px;
    margin: 0 auto;
}