.task-header, 
.task-header .right,
.task-header .left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.task-header{
    padding: 30px 0;
    justify-content: space-between;
    width: 100%;
    max-height: 15vh;
    min-height: 10vh;
}

.task-header .left h1{
    padding: 0;
    margin: 0;
    font-size: 40px;
    color: rgb(51, 0, 129)
}

.task-header .left .icon{
    width: 40px;
    height: 40px;
    padding: 15px;

}

.task-header .right {
    width: 30%;
}


.task-header .right > *{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.task-item input[type=checkbox],
.task-header .right input[type=checkbox]{
    appearance: none;
    width: 30px;
    height: 30px;
    border: 1px solid #DEDEDE;
    box-shadow: 0 0 5px rgb(51, 0, 129, 0.6);
    background-image: linear-gradient(white 0%, #DEDEDE 100%);
    border-radius: 2px;
    
}

.task-item input[type=checkbox]:checked,
.task-header .right input[type=checkbox]:checked{
    background-image: url("../../images/check.png"), linear-gradient(white 0%, #DEDEDE 100%);
    background-size: 28px;

}