.navigator{
    width: 40%;
    max-width: 350px;
    height: 100vh;
    background-color: #4F5D75;
    /* font-family: 'Bree Serif', serif; */
    /* font-family: 'Asap', sans-serif; */
    font-family: 'Averia Libre', cursive;
    /* font-family: 'Podkova', serif; */
    font-size: 18px;
    font-weight: 100;
    overflow-y: scroll;
    overflow-x: hidden;
}


.navigator .logo{
    padding: 30px 10px;
    width: 80%;
    display: block;
    margin: 0 auto;
}

.navigator .add-task{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigator .add-task img{
    width: 25px;
    padding: 10px;
}
