.navigator {
	width: 100%;
	z-index: 2;
	max-width: 300px;
	height: 100vh;
	background-color: rgb(51, 0, 129);
	color: white;
	font-family: "Averia Libre", sans-serif;
	font-size: 18px;
	font-weight: 100;
	overflow-y: scroll;
	overflow-x: hidden;
}

.navigator .logo {
	padding: 30px 0 0;
	width: 80%;
	display: block;
	margin: 0 auto;
}

.navigator .add-task {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navigator .add-task img {
	width: 25px;
	padding: 10px;
}

.navigator > div {
	text-align: center;
}

.navigator input[name="new-task"] {
	width: 90%;
	height: 30px;
	margin-bottom: 2%;
	color: inherit;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	font-family: inherit;
	border: 1px solid #3a1dc6;
	border-radius: 5px;
	text-transform: capitalize;
	background: #200054 url("../../images/add-icon.png") no-repeat 97% center;
	background-size: 18px;
}

.navigator input[name="new-task"]:focus {
	outline: 2px solid #4735ea;
}

@media screen and (min-width: 900px) {
	.navigator {
		max-width: 350px;
	}
}

@media screen and (min-width: 700px) {
	.navigator {
		max-width: 300px;
	}
}

@media screen and (max-width: 650px) {
	.navigator {
		position: fixed;
		transform: translateX(-2000px);
		transition: transform 0.3s ease-in-out;
	}

	.navigator.show {
		transform: translateX(0);
	}
}
